<div class="login-box">
   <a routerLink="/"><img class="close-button" src="/assets/images/close.png" alt="Close"></a>
   <h1>Login</h1>
   <div class="login-container">
      <form class="formsingin" [formGroup]="singInForm" (ngSubmit)="login()">
         <label>Email</label>
         <input type="text" placeholder="" formControlName="email">
         <label>Number</label>
         <input type="text" placeholder="" formControlName="number">
         <label>Password</label>
         <input type="password" placeholder="" formControlName="password">
         <button [disabled]="!singInForm.valid">Submit</button>
         <p class="sign-up">Not have an account? <a routerLink="/signup">Sign Up here</a></p>
         <asl-google-signin-button class="login-google-button" (click)="loginWithGoogle()">Google</asl-google-signin-button>
      </form>
   </div>
</div>