<footer class="main-footer">
   <div class="container">
      <div class="footer">
         <div class="footer-logo">DriveNow @ 2023. All rights reserved.</div>
         <div class="footer-contacts">
            <ul>
               <li>123 Street, New York, USA</li>
               <li>+012 345 67890</li>
               <li>info@example.com</li>
            </ul>
         </div>
         <div class="footer-socials">
            <ul>
               <li>Instagram</li>
               <li>Facebook</li>
               <li>Youtube</li>
            </ul>
         </div>
      </div>
   </div>
</footer>