<footer>
   <div class="top_header">
      <section>
         <a href="#">
            <span><i class="fa fa-map-marker"></i></span>
            <span>123 Street, New York, USA</span>
         </a>
      </section>
      <section>
         <a href="#">
            <span><i class="fa fa-phone"></i></span>
            <span>+012 345 67890</span>
         </a>
      </section>
      <section>
         <a href="#">
            <span><i class="fa fa-envelope"></i></span>
            <span>info@DriveNow.com</span>
         </a>
      </section>
   </div>
   <span class="border-shape"></span>
   <div class="bottom_content">
      <section class="socials">
         <a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
         <a class="social-icon" href="#"><i class="fa fa-instagram"></i></a>
         <a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
      </section>
      <section class="bottom-header">
         <a href="/">Home</a>
         <a href="/carlisting">Car List</a>
         <a href="/map-car">Book now</a>
         <a href="/about">About</a>
         <a href="/contact">Contact</a>
         <a href="/login">Log in</a>
      </section>
   </div>
   <div class="copyright">
   Copyright © 2023 DriveNow - All rights reserved 
   </div>
</footer>





<!--<footer class="main-footer">
   <div class="footer-container">
      <div class="footer">
         <div class="address">
            <div>123 Street, New York, USA</div>
            <div>+012 345 67890</div>
            <div>info@example.com</div>
         </div>
         <div class="socials">
            <a><img class="youtube" src="/assets/images/youtube.png" alt="Youtube"></a>
            <a><img class="instagram" src="/assets/images/instagram.png" alt="Instagram"></a>
            <a><img class="facebook" src="/assets/images/facebook.png" alt="Facebook"></a>
         </div>
         <div class="footer-rights">DriveNow © 2023. All rights reserved.</div>
      </div>
   </div>
</footer>
-->





<!--<table class="footer-table">
            <td>
               <tr></tr>
               <tr class="footer-logo">DriveNow © 2023. All rights reserved.</tr>
               <tr></tr>
            </td>
            <td class="address">
               <tr>123 Street, New York, USA</tr>
               <tr>+012 345 67890</tr>
               <tr>info@example.com</tr>
            </td>
            <td class="socials">
               <tr><a><img class="youtube" src="/assets/images/youtube.png" alt="Youtube"></a></tr>
            </td>
            <td class="socials">
               <tr><a><img class="instagram" src="/assets/images/instagram.png" alt="Instagram"></a></tr>
            </td>
            <td class="socials">
               <tr><a><img class="facebook" src="/assets/images/facebook.png" alt="Facebook"></a></tr>
            </td>
         </table>-->