<footer class="main-footer">
   <div class="container">
      <div class="footer">
         <table>
            <td>
               <tr></tr>
               <tr class="footer-logo">DriveNow © 2023. All rights reserved.</tr>
               <tr></tr>
            </td>
            <td class="address">
               <tr>123 Street, New York, USA</tr>
               <tr>+012 345 67890</tr>
               <tr>info@example.com</tr>
            </td>
            <td class="socials">
               <tr><a><img class="youtube" src="/assets/images/youtube.png" alt="Youtube"></a></tr>
            </td>
            <td class="socials">
               <tr><a><img class="instagram" src="/assets/images/instagram.png" alt="Instagram"></a></tr>
            </td>
            <td class="socials">
               <tr><a><img class="facebook" src="/assets/images/facebook.png" alt="Facebook"></a></tr>
            </td>
         </table>
         <!--<div class="footer-logo">DriveNow © 2023. All rights reserved.</div>
         <div class="footer-contacts">
            <ul>
               <li>123 Street, New York, USA</li>
               <li>+012 345 67890</li>
               <li>info@example.com</li>
            </ul>
         </div>
         <div class="footer-socials">
            <ul>
               <li><a><img src="/assets/images/youtube.png" alt="Youtube"></a></li>
               <li><a><img src="/assets/images/instagram.png" alt="Instagram"></a></li>
               <li><a><img src="/assets/images/facebook.png" alt="Facebook"></a></li>
            </ul>
         </div>
         -->
      </div>
   </div>
</footer>