<div class="content">
    <div class="content-main">
        <div class="first">
            <a routerLink="/">
                <img src="/assets/images/group.png" alt="" class="photo-first">
                <span class="group">Home</span>
            </a>
        </div>
        <div class="second">
            <a href="/orders">
                <img src="/assets/images/element-3.png" alt="" class="photo-second">
                <span class="element-3">Your orders</span>
            </a>
        </div>
        <div class="third">
            <a href="/payments">
                <img src="/assets/images/activity.png" alt="" class="photo-third">
                <span class="activity">Payments</span>
            </a>
        </div>
        <div class="fourth">
            <a routerLink="/promo-code">
                <img src="/assets/images/bookmark.png" alt="" class="photo-fourth">
                <span class="bookmark">Promo-code</span>
            </a>
        </div>
        <div class="settings">
            <a href="/settings">
                <img src="/assets/images/setting-2.png" alt="" class="photo-settings">
                <span class="settings-span">Settings</span>
            </a>
        </div>
        <div class="log-out">
            <a (click)="log_out()">
                <img src="/assets/images/logout.png" alt="" class="photo-log-out">
                <span class="log-out-span">Log out</span>
            </a>
        </div>
    </div>
</div>