@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.main-container {
   max-width: 100%;
}
.car-rent {
   background-image: url(/assets/images/audi-rs6-2.png);
   background-size: 100% 100%;
   height: 800px;
   margin-top: 0px;
}

.car-rent_car_image {
   width: 60%;
   margin: 0px auto;
   padding-top: 2%;
   display: flex;
   justify-content: flex-end;
}

.car-rent-header {
   font-family: Genos;
   font-size: 100px;
   font-weight: 700;
   line-height: 140px;
   letter-spacing: -5px;
   text-align: left;
   color: azure;
   text-align: center;
}

.car-rent-text {
   font-family: Genos;
   font-size: 40px;
   font-weight: 600;
   line-height: 70px;
   letter-spacing: 0px;
   text-align: left;
   color: azure;
   text-align: center;
}

.car-rent-btn {
   margin: 0 auto;
}

.car-rent-button {
   color: azure;
   font-size: 25px;
   width: 20%;
   height: 50px;
   background-color: #00A8A8;
   transition: 0.3s;
   margin: 30px;
   margin-left: 40%;
   &:hover {
      background-color: #8882f8;
      transform: scale(1.1);
   }
}

@media (max-width: 767px) {
   .car-rent-header {
      font-size: 70px;
      font-weight: 600;
      line-height: 80px;
      letter-spacing: 0px;
   }
   
   .car-rent-text {
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
   }

   .car-rent-button {
      font-size: 22px;
      width: 30%;
      height: 40px;
      background-color: #00A8A8;
      transition: 0.3s;
      margin: 30px;
      margin-left: 35%;
      &:hover {
         background-color: #8882f8;
         transform: scale(1.1);
      }
   }
}

@media (max-width: 400px) {
   .car-rent-header {
      font-size: 50px;
      font-weight: 600;
      line-height: 70px;
      letter-spacing: 0px;
   }
   
   .car-rent-text {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
   }

   .car-rent-button {
      font-size: 18px;
      width: 40%;
      height: 35px;;
      background-color: #00A8A8;
      transition: 0.3s;
      margin: 30px;
      margin-left: 30%;
      &:hover {
         background-color: #8882f8;
         transform: scale(1.1);
      }
   }
}

.welcome {
   max-width: 100%;
}

.welcome-header {
   font-size: 40px;
   font-weight: 600;
   text-align: center;
   margin-top: 30px;
}

.welcome-rent {
   text-align: center;
   margin: 15px;
   font-size: 23px;
}

.welcome-table {
   margin: 10px auto;
   text-align: center;
   font-size: 17px;
   border-spacing: 20px 15px;
}

@media (max-width: 450px) {
   .welcome-header {
      font-size: 30px;
   }
   
   .welcome-rent {
      font-size: 18px;
   }
   
   .welcome-table {
      font-size: 13px;
      border-spacing: 10px 8px;
   }
}


.advantages {
   max-width: 100%;
}

.advantages-content {
  background-image: url(/assets/images/ferrari.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.advantages-table {
   padding: 5%;
   margin: 5% auto;
   text-align: center;
   font-size: 17px;
   border-collapse: separate;
   border-spacing: 20px 15px;
   color: azure;
}

.advantages-bold {
   font-size: 20px;
   font-weight: 700;
}

@media (max-width: 700px) {
   .advantages-content {
      background-image: url(/assets/images/bugatti.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 50px 1%;
    }

    .advantages-table {
      font-size: 14px;
    }
  
    .advantages-bold {
      font-size: 18px;
    }
}

@media (max-width: 470px) {
   .advantages-content {
      background-image: url(/assets/images/hellcat.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 50px 1%;
    }

    .advantages-table {
      font-size: 12px;
    }
  
    .advantages-bold {
      font-size: 16px;
    }
}

@media (max-width: 350px) {
   .advantages-table {
      margin: 1%;
      padding: 1%;
   }
}

.carlisting-card {
   height: 370px;
   background: radial-gradient(circle, rgba(31,46,208,0.8576680672268908) 0%, rgba(0,168,168,0.8604691876750701) 100%);
   border: none;
   padding-top: 1%;
   position: relative;
   font-family: inherit;
   margin: 5%;
 }
 
 .carlisting-description {
   max-width: 100%;
   margin: 0px auto;
   font-weight: 400;
   color: white;
   display: block;
   text-align: center;
   padding-top: 5px;
   font-size: 1em;
 }
 
.carlisting-img {
   width: 85%;
   height: 50%;
   background: #e8e8e8;
   margin: auto;
   margin-top: 5%;
 }

 .carlisting-car-name {
   font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 2%;
    font-size: 1.6em;
 }

 .table-row {
   font-size: 18px;
 }
 
 .carlisting-button {
   padding: 3% 10%;
   display: block;
   margin: auto;
   border: none;
   margin-top: 5%;
   background: #e8e8e8;
   color: #111111;
   font-weight: 600;
   transition: 300ms;
   &:hover {
    background: #212121;
    color: #ffffff;
  }
 }

 .carlisting-table {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(79px, 1fr));
  grid-gap: 1%;
}

.carlisting-description-text {
  font-size: 14px;
  margin-right: 5px;
}



.testimonials-header {
   font-size: 40px;
   font-weight: 600;
   text-align: center;
}
.testimonials-header-2 {
   font-size: 25px;
   font-weight: 400;
   text-align: center;
}

figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #00A8A8;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(#161E21, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #000;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #161E21;
}



.numbers-content {
   color: azure;
   background-color: #161E21;
   margin: 50px 0px;
}

.numbers-header {
   padding-top: 1%;
   font-family: Genos;
   font-size: 42px;
   font-weight: 700;
   line-height: 46px;
   letter-spacing: 0em;
   text-align: center;
}

.numbers-description {
   font-family: Roboto;
   font-size: 18px;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0em;
   text-align: center;
}

.numbers-cards {
  text-align: center;
}

.numbers-card {
   max-width: 100%;
   margin: 20px 20px;
}

@media (max-width: 450px) {
   .numbers-content {
      margin: 30px 0px;
   }
   
   .numbers-header {
      padding-top: 5%;
      font-size: 30px;
      font-weight: 600;
      line-height: 23px;
   }
   
   .numbers-description {
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
   }
   
   .numbers-card {
      margin: 10px 0px;
   }
}



.popular {
   max-width: 100%;
   margin: 4%;
}

.popular-table {
   border-collapse: collapse;
   width: 100%;
}

.popular-text {
   font-family: Genos;
   font-size: 42px;
   font-weight: 600;
   line-height: 46px;
   letter-spacing: 0em;
   text-align: center;
   margin-bottom: 3%;
}

.popular-btn {
   display: flex;
   justify-content: center;
}

.popular-button {
   color: azure;
   font-size: 22px;
   width: 140px;
   height: 40px;
   background-color: #00A8A8;
   transition: 0.3s;
   margin: 30px;
   &:hover {
      background-color: #8882f8;
      transform: scale(1.1);
   }
}

.popular-car-photo {
   width: 80%;
   margin: 5%;
}

.table-row-car-name {
   font-size: 25px;
}

.table-row-car-desc {
   font-size: 18px;
}

.table-row-more-info {
   font-size: 20px;
}

@media (max-width: 768px) {
   .popular {
      margin: 2%;
   }

   .popular-text {
      margin-bottom: 3%;
      font-size: 32px;
   }

   .table-row-car-name {
      font-size: 20px;
   }

   .table-row-car-desc {
      font-size: 16px;
   }

   .table-row-more-info {
      font-size: 18px;
   }
}


































































////////////////////////
.content{
   .content-main{
      width: 100%;
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/assets/images/12.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 100px;
      .content-main-text{
         width: 100%;
         height: 100%;
         .text {
            display: flex;
            flex-direction: column;
            padding-top: 165px;
            padding-left: 100px;
            margin-bottom: 30px;
            .main-text-top, .main-text-button {
               color: #FFF;
               font-family: Poppins;
               font-size: 60px;
               font-style: normal;
               font-weight: 600;
               line-height: 70px;
               text-transform: uppercase;
               margin: 20px;
               .orange{
                  color: #FF7A00;
               }
            }
         }
         .center-text{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 150px;
            padding-left: 100px;
            color: #FFF;
            .first-text{
               color: #FFF;
               font-family: Poppins;
               font-size: 42px;
               font-style: normal;
               font-weight: 500;
               line-height: 52px; /* 123.81% */
            }
            .second-text{
               width: 690px;
               height: 64px;
               color: #FFF;
               font-family: Poppins;
               font-size: 20px;
               font-style: normal;
               font-weight: 500;
               line-height: 36px; /* 133.333% */
            }
         }
         .button-action{
            display: flex;
            justify-content: space-between;
            width: 50%;
            padding-left: 100px;
            padding-top: 100px;
            button{
               width: 330px;
               height: 60px;
               margin-left: 20px;
            }
            .first-button{
               border-radius: 10px;
               background: #FF7A00;
            }
            .second-button{
               border-radius: 10px;
               border: 4px solid #FF7A00;
               background: rgba(0, 0, 0, 0.40);
            }
            span{
               color: #FFF;
               font-family: Poppins;
               font-size: 24px;
               font-style: normal;
               font-weight: 500;
               line-height: 52px; /* 173.333% */
            }
         }
      }
      .content-center{
         display: flex;
         width: 100%;
         height: 500px;
         margin-top: 100px;
         .content-left{
            width: 50%;
            height: 100%;
            background: url("/assets/images/img_7.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         }
         .content-right{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding: 40px;
            .about{
               display: flex;
               margin-bottom: 25px;
               color: #FF7A00;
               font-family: Poppins;
               font-size: 50px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
               text-transform: uppercase;
            }
            .first-text{
               display: flex;
               margin-bottom: 60px;
               color: #000;
               font-family: Poppins;
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
            }
            .second-text{
               display: flex;
               margin-bottom: 45px;
               color: #000;
               font-family: Poppins;
               font-size: 23px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
            }
            .read-me-button{
               width: 300px;
               height: 60px;
               flex-shrink: 0;
               border-radius: 10px;
               background: #FF7A00;
               .read-me{
                  color: #FFF;
                  font-family: Poppins;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 52px; /* 173.333% */
               }
            }
         }
      }
      .content-under-center{
         width: 100%;
         display: flex;
         margin-top: 150px;
         height: 800px;
         background: url("/assets/images/Rectangle 21.png");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         .content-text{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-top: 600px;
            padding-left: 110px;
            .first-text{
               color: #FFF;
               font-family: Inter;
               font-size: 60px;
               font-style: normal;
               font-weight: 600;
               line-height: normal;
            }
            .second-text{
               color: #FF7A00;
               font-family: Inter;
               font-size: 60px;
               font-style: normal;
               font-weight: 600;
               line-height: normal;
            }
         }
      }
      .content-slider{
         width: 100%;
         height: 1000px;
         display: flex;
         flex-direction: column;
         padding: 100px;
         background: #E9E9E9;
         .first-text{
            display: flex;
            margin-bottom: 20px;
            color: #000;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
         }
         .second-text{
            display: flex;
            width: 700px;
            color: #000;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }
         .two-button{
            display: flex;
            width: 100%;
            justify-content: center;
            .first-button,.second-button{
               width: 40px;
               height: 40px;
               margin-left: 20px;
               background: white;
               border-radius: 5px;
            }
            .first-button{
               border: 1px solid #FF7A00;
               color: #FF7A00;
            }
            .second-button{
               background: #FF7A00;
               color: white;
            }
         }
         .car-list-item{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 300px;
            margin-top: 25px;
            .first{
               width: 30%;
               height: 600px;
               background: url("/assets/images/Rectangle 10.png");
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               .top-text{
                  padding-top: 20px;
                  padding-left: 17px;
                  width: 100%;
                  height: 130px;
                  background: rgba(0, 0, 0, 0.47);
                  backdrop-filter: blur(15.5px);
                  display: flex;
                  flex-direction: column;
                  .first-text{
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 21px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                  }
                  .second-text{
                     width: 100%;
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: normal;
                  }
               }
               .button-text{
                  margin-top: 400px;
                  display: flex;
                  justify-content: space-around;
                  padding-top: 20px;
                  padding-left: 17px;
                  .first-text{
                     color: #FF7A00;
                     font-family: Poppins;
                     font-size: 25px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                     text-transform: uppercase;
                     margin: auto;
                  }
                  .line{
                     display: flex;
                     width: 150px;
                     height: 6px;
                     background: #D9D9D9;
                     border: 1px solid;
                     margin: auto;
                  }
               }
            }
            .second{
               width: 30%;
               height: 600px;
               background: url("/assets/images/Rectangle 11.png");
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center;
               .top-text{
                  padding-top: 20px;
                  padding-left: 17px;
                  width: 100%;
                  height: 130px;
                  background: rgba(0, 0, 0, 0.47);
                  backdrop-filter: blur(15.5px);
                  display: flex;
                  flex-direction: column;
                  .first-text{
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 21px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                  }
                  .second-text{
                     width: 100%;
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: normal;
                  }
               }
               .button-text{
                  margin-top: 400px;
                  display: flex;
                  justify-content: space-around;
                  padding-top: 20px;
                  padding-left: 17px;
                  .first-text{
                     color: #FF7A00;
                     font-family: Poppins;
                     font-size: 25px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                     text-transform: uppercase;
                     margin: auto;
                  }
                  .line{
                     display: flex;
                     width: 150px;
                     height: 6px;
                     background: #D9D9D9;
                     border: 1px solid;
                     margin: auto;
                  }
               }
            }
            .third{
               width: 30%;
               height: 600px;
               background: url("/assets/images/Rectangle 12.png");
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
               .top-text{
                  padding-top: 20px;
                  padding-left: 17px;
                  width: 100%;
                  height: 130px;
                  background: rgba(0, 0, 0, 0.47);
                  backdrop-filter: blur(15.5px);
                  display: flex;
                  flex-direction: column;
                  .first-text{
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 21px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                  }
                  .second-text{
                     width: 100%;
                     color: #FFF;
                     font-family: Poppins;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: normal;
                  }
               }
               .button-text{
                  margin-top: 400px;
                  display: flex;
                  justify-content: space-around;
                  padding-top: 20px;
                  padding-left: 17px;
                  .first-text{
                     color: #FF7A00;
                     font-family: Poppins;
                     font-size: 25px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: normal;
                     text-transform: uppercase;
                     margin: auto;
                  }
                  .line{
                     display: flex;
                     width: 150px;
                     height: 6px;
                     background: #D9D9D9;
                     border: 1px solid;
                     margin: auto;
                  }
               }
            }
         }
      }
      .content-two-photo{
         display: flex;
         padding: 40px 100px;
         width: 100%;
         height: 600px;
         background: #F6F6F6;
         margin-top: 40px;
         .content-left{
            width: 50%;
            background: url("/assets/images/Rectangle 25.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
         .content-right{
            width: 50%;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            .main-text{
               display: flex;
               margin-top: 130px;
               color: #FF7A00;
               font-family: Poppins;
               font-size: 30px;
               font-style: normal;
               font-weight: 600;
               line-height: 36px; /* 120% */
               letter-spacing: -0.45px;
            }
            .second-text{
               display: flex;
               margin-top: 24px;
               color: rgba(0, 0, 0, 0.80);
               font-family: Poppins;
               font-size: 24px;
               font-style: normal;
               font-weight: 400;
               line-height: 30px; /* 125% */
               letter-spacing: -0.36px;
            }
            .bottom-text{
               margin-top: 24px;
               color: rgba(0, 0, 0, 0.80);
               font-family: Poppins;
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: 30px; /* 166.667% */
               letter-spacing: -0.27px;
            }
         }
      }
      .content-bottom{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: 400px;
         grid-column-gap: 10px;
         margin: 0;
         grid-gap: 1%;
         padding: 40px 50px;
         margin-top: 40px;
         background: #F6F6F6;
         .first-content{
            padding: 50px;
            display: flex;
            flex-direction: column;
            .main-text{
               display: flex;
               margin-bottom: 24px;
               color: #FF7A00;
               font-family: Poppins;
               font-size: 30px;
               font-style: normal;
               font-weight: 600;
               line-height: 36px; /* 120% */
               letter-spacing: -0.45px;
            }
            .second-text{
               display: flex;
               margin-bottom: 24px;
               color: rgba(0, 0, 0, 0.80);
               font-family: Poppins;
               font-size: 24px;
               font-style: normal;
               font-weight: 400;
               line-height: 30px; /* 125% */
               letter-spacing: -0.36px;
            }
            .third-text{
               color: rgba(0, 0, 0, 0.80);
               font-family: Poppins;
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: 30px; /* 166.667% */
               letter-spacing: -0.27px;
            }
         }
         .second-content{
            background: url("/assets/images/img_10.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
         .third-content{
            background: url("/assets/images/img_11.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
         .fourth-content{
            background: url("/assets/images/img_12.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }
      }
   }
}
