<div class="cardetails">
   <div class="cardetails-header">
      CAR DETAILS
   </div>
   <div class="cardetails-container">   
    <div class="card">
      <div class="card__content">
        <p class="card__title">Audi RS6</p>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (3)</span>
       </div>
        <p class="card__text">The new RS6 is powered by a 4.0-litre twin-turbo TFSI petrol engine, now boosted by a 48V belt alternator/starter mild-hybrid system, which can recover up to 16 bhp (12 kW). The engine also utilises a cylinder-on-demand system that can shut off half of its cylinders to boost fuel economy. The powertrain produces 600 PS (441 kW; 592 bhp) with 800 N⋅m (590 lbf⋅ft) available between 2100rpm and 4500rpm.</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="carlisting-description">
         <div class="carlisting-table">
          <mat-icon class="carlisting-table-brand">directions_car</mat-icon>
          <mat-icon class="carlisting-table-type">airport_shuttle</mat-icon>
          <mat-icon class="carlisting-table-year">calendar_today</mat-icon>
         </div>   
         <div class="carlisting-table">
          <mat-icon class="carlisting-table-seats">people</mat-icon>
          <mat-icon class="carlisting-table-fuel">local_gas_station</mat-icon>
          <mat-icon class="carlisting-table-transmission">settings</mat-icon> 
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-doors" src="/assets/images/doors.png" alt="Number of doors">5 Doors</span>
            <span class="carlisting-description-text"><img class="carlisting-table-wheel" src="/assets/images/wheel.png" alt="Wheel drive">All-Wheel Drive</span>
            <span class="carlisting-description-text"><img class="carlisting-table-consumption" src="/assets/images/fuel-tank.png" alt="Fuel consumption">15.6 Gal</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-trunk" src="/assets/images/luggage.png" alt="Trunk size">Big Trunk</span>
            <span class="carlisting-description-text"><img class="carlisting-table-pinion" src="/assets/images/steering-wheel.png" alt="Pinion type">Rack-Pinion</span>
            <span class="carlisting-description-text"><mat-icon class="carlisting-description-text">queue_music</mat-icon>Car brand </span>
         </div>
      </div>      
      </div>
      <div class="card__image"><img class="cardetails-car-photo" src="/assets/images/bugatti.png" alt="Car photo"></div>
      <section>
        <details open>
          <summary>Description</summary>
          <div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quibusdam ab in molestiae repellat iste officiis rem unde recusandae, provident impedit ducimus dolorem distinctio quos omnis incidunt excepturi ex maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolores alias maxime cupiditate nam ratione temporibus ipsum, quam, illo velit vero facilis laudantium minima exercitationem error provident reprehenderit qui at.</p>
          </div>
        </details>
        <details>
          <summary>Additional Information</summary>
          <div>
            <div class="item">
              <h3 class="item-name">Length<div class="item-value">4573 Mm</div></h3>
              <h3 class="item-name">Width<div class="item-value">2173 Mm</div></h3>
              <h3 class="item-name">Height<div class="item-value">1279 Mm</div></h3>
              <h3 class="item-name">Wheelbase<div class="item-value">2457 Mm</div></h3>
              <h3 class="item-name">Airbags<div class="item-value">6</div></h3>
            </div>
          </div>
        </details>
        <details>
          <summary>Reviews (2)</summary>
          <div>
            <div class="comment-wrapper pt--40">
              <div class="edu-comment">
                <div class="thumbnail"> <img src="/assets/images/user-1.png" alt="Comment Images"> </div>
                <div class="comment-content">
                  <div class="comment-top">
                    <h6 class="title">Hedley Howarth</h6>
                    <div class="rating"><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon></div>
                  </div>
                  <span class="subtitle">March 21st 2022</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
          <div class="edu-comment">
                <div class="thumbnail"> <img src="/assets/images/user-2.png" alt="Comment Images"> </div>
                <div class="comment-content">
                  <div class="comment-top">
                    <h6 class="title">Trish McKelvey</h6>
                    <div class="rating"><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon></div>
                  </div>
                  <span class="subtitle">August 5th 2021</span>
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
              </div>
            </div>
          </div>
        </details>
      </section>  
      </div>
   </div>
</div>