<div class="cardetails">
   <div class="cardetails-header">
      CAR DETAILS
   </div>
   <div class="cardetails-container">   
    <div class="card">
      <div class="card__image"><img class="cardetails-car-photo" src="https://drive-now.s3.eu-west-2.amazonaws.com/{{car.accualFileUrl}}" alt="Car photo"></div>
      <div class="card__content">
        <p class="card__title">{{car.nameCar}}</p>
        <div class="cardetails-price">{{car.price}} $/day</div>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (2)</span>
       </div>
       <div class="line-1"></div>
        <p class="card__text">{{car.about}}</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="line-2"></div>
        <div class="cardetails-specifications">
          <div class="cardetails-specifications-header">Specifications</div>
          <div class="cardetails-specifications-table">
            <!-- HEAD -->
            <div class="head">Body</div>
            <div class="head">Wagon</div>
            <div class="head-1">Drive</div>
            <div class="head">4WD</div>
            <div class="head">Seat</div>
            <div class="head">4 Seats</div>
            <div class="head-1">Year</div>
            <div class="head">{{ car.year }}</div>
            <div class="head">Door</div>
            <div class="head">{{ car.passengers - 1 }} Doors</div>
  
            <!-- ROWS -->
            <div class="cell-1">Mileage</div>
            <div class="cell">{{ car.expenditure }} km</div>
            <div class="cell">Luggage</div>
            <div class="cell">{{ car.power }} L</div>
            <div class="cell-1">Fuel type</div>
            <div class="cell">Petrol</div>
            <div class="cell">Transmission</div>
            <div class="cell">Automatic</div>
            <div class="cell-1">Engine</div>
            <div class="cell">{{ car.power }}</div>
          </div> 
        </div>
      </div>
      <section>
        <details open>
          <summary>Description</summary>
          <div>
            <p class="description">{{car.about}}</p>
          </div>
        </details>
        <details>
          <summary>Additional Information</summary>
          <div>
            <div class="item">
              <h3 class="item-name">Length<div class="item-value">4573 Mm</div></h3>
              <h3 class="item-name">Width<div class="item-value">2173 Mm</div></h3>
              <h3 class="item-name">Height<div class="item-value">1279 Mm</div></h3>
              <h3 class="item-name">Wheelbase<div class="item-value">2457 Mm</div></h3>
              <h3 class="item-name">Airbags<div class="item-value">6</div></h3>
            </div>
          </div>
        </details>
        <details>
          <summary>Reviews (2)</summary>
          <div>
            <div class="comment-wrapper pt--40">
              <div class="edu-comment">
                <div class="thumbnail"> <img src="/assets/images/user-1.png" alt="Comment Images"> </div>
                <div class="comment-content">
                  <div class="comment-top">
                    <h6 class="title">Hedley Howarth</h6>
                    <div class="rating"><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon></div>
                  </div>
                  <span class="subtitle">March 21st 2022</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
          <div class="edu-comment">
                <div class="thumbnail"> <img src="/assets/images/user-2.png" alt="Comment Images"> </div>
                <div class="comment-content">
                  <div class="comment-top">
                    <h6 class="title">Trish McKelvey</h6>
                    <div class="rating"><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon><mat-icon class="reviews-stars">star</mat-icon></div>
                  </div>
                  <span class="subtitle">August 5th 2021</span>
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
              </div>
            </div>
          </div>
        </details>
      </section>  
      </div>
   </div>
</div>