<div class="cardetails">
   <div class="cardetails-header">
      CAR DETAILS
   </div>
   <div class="cardetails-container">   
    <div class="card">
      <div class="card__content">
        <p class="card__title">Audi RS6</p>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (3)</span>
       </div>
        <p class="card__text">The new RS6 is powered by a 4.0-litre twin-turbo TFSI petrol engine, now boosted by a 48V belt alternator/starter mild-hybrid system, which can recover up to 16 bhp (12 kW). The engine also utilises a cylinder-on-demand system that can shut off half of its cylinders to boost fuel economy.

          The powertrain produces 600 PS (441 kW; 592 bhp) with 800 N⋅m (590 lbf⋅ft) available between 2100rpm and 4500rpm.</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="carlisting-description">
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">Audi</span>
            <span class="carlisting-description-text"><img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Station wagon</span>
            <span class="carlisting-description-text"><img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2020</span>
         </div>   
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats</span>
            <span class="carlisting-description-text"><img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline</span>
            <span class="carlisting-description-text"><img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-doors" src="/assets/images/doors.png" alt="Number of doors">5 Doors</span>
            <span class="carlisting-description-text"><img class="carlisting-table-wheel" src="/assets/images/wheel.png" alt="Wheel drive">All-Wheel Drive</span>
            <span class="carlisting-description-text"><img class="carlisting-table-consumption" src="/assets/images/fuel-tank.png" alt="Fuel consumption">15.6 Gal</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-trunk" src="/assets/images/luggage.png" alt="Trunk size">Big Trunk</span>
            <span class="carlisting-description-text"><img class="carlisting-table-pinion" src="/assets/images/steering-wheel.png" alt="Pinion type">Rack-Pinion</span>
            <span class="carlisting-description-text"><img class="carlisting-table-sound" src="/assets/images/music.png" alt="Sound quality">High-Quality Sound</span>
         </div>
      </div>
      </div>
      <div class="card__image"><img class="cardetails-car-photo" src="/assets/images/audi-rs6.png" alt="Car photo"></div>
      <div class="cardetails-car-info-tabs">
        <button class="cardetails-info-btn">Description</button>
        <button class="cardetails-info-btn">Additional Information</button>
        <button class="cardetails-info-btn">Reviews (2)</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <p class="card__title">Car Name</p>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (3)</span>
       </div>
        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="carlisting-description">
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW</span>
            <span class="carlisting-description-text"><img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible</span>
            <span class="carlisting-description-text"><img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005</span>
         </div>   
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats</span>
            <span class="carlisting-description-text"><img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline</span>
            <span class="carlisting-description-text"><img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-doors" src="/assets/images/doors.png" alt="Number of doors">2 Doors</span>
            <span class="carlisting-description-text"><img class="carlisting-table-wheel" src="/assets/images/wheel.png" alt="Wheel drive">Rear-Wheel Drive</span>
            <span class="carlisting-description-text"><img class="carlisting-table-consumption" src="/assets/images/fuel-tank.png" alt="Fuel consumption">11.9 Gal</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-trunk" src="/assets/images/luggage.png" alt="Trunk size">Limited Trunk</span>
            <span class="carlisting-description-text"><img class="carlisting-table-pinion" src="/assets/images/steering-wheel.png" alt="Pinion type">Rack-Pinion</span>
            <span class="carlisting-description-text"><img class="carlisting-table-sound" src="/assets/images/music.png" alt="Sound quality">High-Quality Sound</span>
         </div>
      </div>
      </div>
      <div class="card__image"></div>
    </div>
    <div class="card">
      <div class="card__content">
        <p class="card__title">Car Name</p>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (3)</span>
       </div>
        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="carlisting-description">
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW</span>
            <span class="carlisting-description-text"><img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible</span>
            <span class="carlisting-description-text"><img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005</span>
         </div>   
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats</span>
            <span class="carlisting-description-text"><img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline</span>
            <span class="carlisting-description-text"><img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-doors" src="/assets/images/doors.png" alt="Number of doors">2 Doors</span>
            <span class="carlisting-description-text"><img class="carlisting-table-wheel" src="/assets/images/wheel.png" alt="Wheel drive">Rear-Wheel Drive</span>
            <span class="carlisting-description-text"><img class="carlisting-table-consumption" src="/assets/images/fuel-tank.png" alt="Fuel consumption">11.9 Gal</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-trunk" src="/assets/images/luggage.png" alt="Trunk size">Limited Trunk</span>
            <span class="carlisting-description-text"><img class="carlisting-table-pinion" src="/assets/images/steering-wheel.png" alt="Pinion type">Rack-Pinion</span>
            <span class="carlisting-description-text"><img class="carlisting-table-sound" src="/assets/images/music.png" alt="Sound quality">High-Quality Sound</span>
         </div>
      </div>
      </div>
      <div class="card__image"></div>
    </div>
    <div class="card">
      <div class="card__content">
        <p class="card__title">Car Name</p>
        <div class="stars">
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
         </svg>
         <span class="cardetails-stars-number">5.0 (3)</span>
       </div>
        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="card__button" href="#">Rent Car</a>
        <div class="carlisting-description">
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW</span>
            <span class="carlisting-description-text"><img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible</span>
            <span class="carlisting-description-text"><img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005</span>
         </div>   
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats</span>
            <span class="carlisting-description-text"><img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline</span>
            <span class="carlisting-description-text"><img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-doors" src="/assets/images/doors.png" alt="Number of doors">2 Doors</span>
            <span class="carlisting-description-text"><img class="carlisting-table-wheel" src="/assets/images/wheel.png" alt="Wheel drive">Rear-Wheel Drive</span>
            <span class="carlisting-description-text"><img class="carlisting-table-consumption" src="/assets/images/fuel-tank.png" alt="Fuel consumption">11.9 Gal</span>
         </div>
         <div class="carlisting-table">
            <span class="carlisting-description-text"><img class="carlisting-table-trunk" src="/assets/images/luggage.png" alt="Trunk size">Limited Trunk</span>
            <span class="carlisting-description-text"><img class="carlisting-table-pinion" src="/assets/images/steering-wheel.png" alt="Pinion type">Rack-Pinion</span>
            <span class="carlisting-description-text"><img class="carlisting-table-sound" src="/assets/images/music.png" alt="Sound quality">High-Quality Sound</span>
         </div>
      </div>
      </div>
      <div class="card__image"></div>
    </div>
   </div>
</div>