<div class="container">
   <div class="box">
       <section class="info">
           <p>
               <i class="fas fa-road"></i>
                <small><img class="location-icon" src="/assets/images/location.png" alt=""> 44 something st</small>
           </p>
           <p>
               <i class="fas fa-phone-alt"></i>
               <small><img class="phone-icon" src="/assets/images/phone.png" alt=""> (+380) 97 734 2462</small>
           </p>
           <p>
               <i class="fas fa-envelope"></i>
               <small><img class="mail-icon" src="/assets/images/mail.png" alt=""> user123@gmail.com</small>
           </p>
       </section>
       <h3>Contact Us</h3>
       <form>
           <div class="name">
               <input type="text" id="name" placeholder="Your Name" required>
           </div>
           <div class="email">
               <input type="email" id="email" placeholder="Email Address" required>
           </div>
           <div class="telephone">
            <input type="tel" id="telephone" placeholder="Phone number" required>
            </div>
           <div class="subject">
               <input type="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="message">
               <textarea id="message" placeholder="Message"></textarea>
           </div>
           <div class="submit">
               <input type="submit" value="SUBMIT">
           </div>
       </form>
   </div>
</div>