<div class="content">
    <div class="content-main">
        <div class="log-in">
            <span class="span-log-in">Log In</span>
            <form class="log-in-form">
                    <!--[formGroup]="loginForm"
                    (ngSubmit)="login()"-->
                <div class="input-field">
                    <input
                            type="text"
                            formControlName="emailOrNumber"
                            placeholder="Username or email">
                </div>
                <div class="input-field">
                    <input
                            type="password"
                            formControlName="password"
                            placeholder="Password">
                </div>
                <div class="button-submit">
                    <button type="submit" class="submit"> Log In</button>
                </div>
                <hr class="line">
                <div class="google-input">
                    <input
                            type="button"
                            class="google"
                            value="Google"
                    >
                </div>
                <span class="account">Have no account yet?</span>
                <button class="button-sign-up"><span>Sign Up</span></button>
            </form>
        </div>
    </div>
</div>