<div class="signup-box">
   <a routerLink="/"><img class="close-button" src="/assets/images/close.png" alt="Close"></a>
   <h1>Sign Up</h1>
   <div class="signup-container">
      <form class="signup-form">
        <label>First Name</label>
        <input type="text" placeholder="" />
        <label>Last Name</label>
        <input type="text" placeholder="" />
        <label>Email or Phone</label>
        <input type="email or phone" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <label>Confirm Password</label>
        <input type="password" placeholder="" />
        <input type="button" value="Submit" />
          <!-- Hello-->
        <p class="log-in">
          Already have an account? <a routerLink="/login">Login here</a>
        </form>
    </div>
</div>