<div class="content">
    <div class="content-left">
        <app-cabinet-list></app-cabinet-list>
    </div>
    <div class="content-right">
        <div class="main-order">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>№</mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>