<div class="carlisting">
   <div class="carlisting-header">
      FIND YOUR CAR
   </div>
   <div class="carlisting-container">
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <div class="carlisting-table">
               <span class="carlisting-description-text"><img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW</span>
               <span class="carlisting-description-text"><img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible</span>
               <span class="carlisting-description-text"><img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005</span>
            </div>   
            <div class="carlisting-table">
               <span class="carlisting-description-text"><img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats</span>
               <span class="carlisting-description-text"><img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline</span>
               <span class="carlisting-description-text"><img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic</span>
            </div>
            <!--
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
            -->
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
      <div class="carlisting-card">
         <div class="carlisting-card-border-top"></div>
         <div class="carlisting-img"></div>
         <div class="carlisting-car-name">Car name</div>
         <div class="carlisting-description">
            <table class="carlisting-table">
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-brand" src="/assets/images/car-front.png" alt="Car brand">BMW
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-type" src="/assets/images/car-side.png" alt="Body type">Convertible
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-year" src="/assets/images/calendar.png" alt="Manufacture year">2005
                  </td>
               </tr>
               <tr>
                  <td class="table-row">
                     <img class="carlisting-table-seats" src="/assets/images/people.png" alt="Number 0f seats">4 Seats
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-fuel" src="/assets/images/fuel.png" alt="Type of fuel">Gasoline
                  </td>
                  <td class="table-row">
                     <img class="carlisting-table-transmission" src="/assets/images/transmission.png" alt="Transmisson">Automatic
                  </td>
               </tr>
            </table>
         </div>
         <button class="carlisting-button">$Price/Day</button>
      </div>
   </div>
</div>