<div class="content">
    <div class="main-content">
        <a href="">
            <div class="first">
                <img src="/assets/images/group1.png" alt="">
                <span>Home</span>
            </div>
        </a>
        <a href="">
            <div class="second">
                <img src="/assets/images/element-3.png" alt="">
                <span>Orders</span>
            </div>
        </a>
        <a href="">
            <div class="third">
                <img src="/assets/images/bookmark.png" alt="">
                <span>Saved Cars</span>
            </div>
        </a>
        <a href="">
            <div class="fourth">
            <img src="/assets/images/setting-2.png" alt="">
            <span>Settings</span>
        </div>
        </a>
        <a href="">
            <div class="log-out">
            <img src="/assets/images/logout.png" alt="">
            <span>Log out</span>
        </div>
        </a>
    </div>
</div>