<header class="main-header">
   <div class="container">
      <div class="header">
         <div class="header-logo">DriveNow</div>
         <div class="header-burger">
            <span></span>
         </div>
         <nav class="main-nav">
            <ul class="nav-main__list">
               <li class="main-nav__item">
                  <a class="main-nav__link" routerLink="/">Home</a>
               </li>
               <li><a href="#" class="main-nav__item">Cars &blacktriangledown;</a>
						<ul class="sub-menu__list">
							<li class="sub-main-nav__item">
								<a href="#" class="sub-main-nav__link">Car Listing</a>
							</li>
                     <li class="sub-main-nav__item">
								<a href="#" class="sub-main-nav__link">Car Details</a>
							</li>
                  </ul>
               </li>
               <li class="main-nav__item">
                  <a class="main-nav__link" href="#">Book now</a>
               </li>
               <li class="main-nav__item">
                  <a class="main-nav__link" href="#">About</a>
               </li>
               <li class="main-nav__item">
                  <a class="main-nav__link" href="#">Contact</a>
               </li>
               <li><a routerLink="/login"><img class="login-button" src="/assets/images/user.png" alt="Log In"></a></li>
            </ul>
         </nav>
      </div>
   </div>
</header>