<div class="profile">
   <div class="profile-container">
      <div class="profile-change-profile"><img class="profile-change-profile-icon" src="/assets/images/pencil.png" alt="Change porfile"></div>
      <div class="profile-header">User profile</div>
      <div class="profile-body">
         <div class="profile-user-info">
            <div class="profile-user-info-photo"><img class="profile-user-info-photo-icon" src="/assets/images/account.png" alt="User photo"></div>
            <div class="profile-user-info-name">User name</div>
            <div class="profile-user-info-phone">+380 97 637 9261</div>
            <div class="profile-user-info-email"><img class="profile-user-info-email-icon" src="/assets/images/mail.png" alt="">user123@gmail.com</div>
            <div class="profile-border"></div>
            <button class="profile-user-info-history"><img class="profile-user-info-history-icon" src="/assets/images/clock.png" alt="">Driving history</button>
         </div>
         <div class="profile-payments-ballance">
            <div class="profile-payments-ballance-text">DriveNow ballance</div>
            <div class="profile-payments-ballance-amount">$100</div>
         </div>
         <button class="profile-payments-ballance-history"><img class="profile-payments-ballance-history-icon" src="/assets/images/clock.png" alt="">Show ballance operations</button>
         <div class="profile-border"></div> 
         <div class="profile-payment-methods">
            <div class="profile-payments-payment-methods-visa"><img class="profile-payment-methods-visa-icon" src="/assets/images/visa.png" alt="">Visa **** 8425</div>
            <div class="profile-payments-payment-methods-master-card"><img class="profile-payment-methods-master-card-icon" src="/assets/images/master-card.png" alt="">Master card **** 9682</div>
            <div class="profile-payments-payment-methods-add"><img class="profile-payment-methods-card-icon" src="/assets/images/card.png" alt="">Add payment method</div>
         </div>
         <div class="profile-saved-places">
            <div class="profile-saved-places-home"><img class="profile-saved-places-home-icon" src="/assets/images/house.png" alt="">Choose home address</div>
            <div class="profile-saved-places-job"><img class="profile-saved-places-job-icon" src="/assets/images/case.png" alt="">Choose job address</div>
         </div>
         <div class="profile-other-settings">
            <div class="language-picker js-language-picker" data-trigger-class="li4-btn li4-btn--subtle js-tab-focus">
               <form action="" class="language-picker__form">
                 <label for="language-picker-select">Select your language</label>
                  <br>
                 <select name="language-picker-select" id="language-picker-select">
                  <option lang="en" value="english" selected>English</option>
                   <option lang="ukr" value="ukrainian">Ukraiian</option>
                 </select>
               </form>
             </div>
         </div>
         <div class="profile-log-out">
            <a class="profile-log-out-btn"><img class="profile-log-out-button" src="/assets/images/log-out.png" alt="">Log out</a>
         </div>
      </div>
   </div>
</div>