<div class="sidebar">
   <div class="scrollbar-inner-sidebar-wrapper">
      <ul class="nav">
         <li class="nav-item active">
            <a href="./index.html">
               <p class="dashboard">Dashboard</p>
            </a>
         </li>
         <li class="nav-item">
            <a href="./watchlist.html">
               <p class="watchlist">Watchlist</p>
            </a>
         </li>
         <li class="nav-item">
            <a href="./cryptocurrency.html">
               <p class="cryptocurrency">Cryptocurrency</p>
            </a>
         </li>
         <li class="nav-item">
            <a href="./news.html">
               <p class="news">News</p>
            </a>
         </li>
      </ul>
      <div class="divider"></div>
   </div>
</div>