ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; 
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }




///////////////////////
.carousel-container {
   width: 100dvw;
   height: 90dvh;
}

:host ::ng-deep{
   .image-container {
       width: 100%;
   }

   .igx-carousel {
       max-width: 100%;
       width: unset;
   }

   .igx-nav-dot {
       background: black;
       box-shadow: none;
       width: 20px;
       height: 20px;
   }

   .igx-slide {
       display: flex;
       justify-content: center;
       align-items: center;
       max-width: 100%;
       width: unset;
   }

   .igx-slide img {
       object-fit: fill;
       max-width: 100%;
       background-image: url(/assets/images/aston-martin.png);
       background-size: 100% 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
}
