.content {
  background-color: #fff;
  font-size: 40px;
  padding: 60px 50px;
  height: 170vh; 
}

.about-us-header {
   font-size: 40px;
}
 
 .about-section {
   margin: 2% 20%;
   padding: 150px;
   text-align: center;
   background-image: url(/assets/images/img_10-2.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
   color: #fff;
   .about-us-header-2{
      font-size: 30px;
   }
   .about-us-text {
      font-size: 20px;
   }
 }

 .row {
  font-size: 25px;
 }
 
 .container {
   padding: 0 16px;
 }
 
 .container::after, .row::after {
   content: "";
   clear: both;
   display: table;
 }

 .our-team-header{
   font-size: 40px;
   text-align: center;
}

.column {
   float: left;
   width: 50%;
   margin-bottom: 16px;
   padding: 0 58px;
 }
 
 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: 8px;
 }

 .user-photo-1 {
   margin: 5% auto;
   width: 42%;
 }

 .user-photo-2 {
  margin: 5% auto;
  width: 40%;
}
 
 .title {
   color: grey;
 }
 
 .button {
   border: 1px solid #000;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   &:hover {
      color: #000;
      background-color: #fff;
    }
 }
 
 @media (max-width: 650px) {
   .column {
    padding: 0;
     width: 100%;
   }
   .content {
    background-color: #fff;
    font-size: 40px;
    padding: 50px;
    height: 180vh; 
  }
  .about-section {
    margin: 2% 0;
    padding: 15%;
    background-image: url(/assets/images/Rectangle-10-2.png);
  }
  .hero-banner {
  margin: 3% 0;
  align-items: center;
  height: 10vh;
  justify-content: center;
  }
  .hero-banner__title {
    font-size: 50px;
    font-weight: 600;
    padding: 0 20px;
  }
  .hero-banner__image {
    width: 100%;
  }
 }

 /*Hello*/

 .hero-banner {
  margin: 3% 0;
  align-items: center;
  display: flex;
  height: 70vh;
  position: relative;
  justify-content: center;
  z-index: -1;
}

.hero-banner__title {
  color: #000;
  font-size: 100px;
  font-weight: 700;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.hero-banner__image {
  border-radius: 20px;
  position: fixed;
  transform: rotate(-15deg);
  width: 35%;
  margin: 5%;
}