  <div class="about-header">
    About Us
  </div>
  <div class="container">
    <div class="about">
       <div class="left">
          <h1>Our Mission</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       </div>
       <div class="right">
          <img src="/assets/images/Rectangle-21.png">
       </div>
       <div class="clear"></div>
    </div>
    <div class="mission">
         <div class="right">
          <h1>Benefits</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       </div>
       <div class="left">
        <img src="/assets/images/Rectangle-21.png">
      </div>
       <div class="clear"></div>
    </div>
  <h2 class="our-team-header">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img class="user-photo-1" src="/assets/images/user-1.png" alt="Dmytro">
        <div class="container">
          <h2>Dmytro Muntian</h2>
          <p class="title">Designer and FrontEnd Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>dmytromoon@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="user-photo-2" src="/assets/images/user-2.png" alt="Andrew">
        <div class="container">
          <h2>Andrii Obertinskiy</h2>
          <p class="title">FullStack Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>nepamiatau@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>  
</div>


<!--<div class="hero-banner">
  <div class="hero-banner__title" aria-hidden="true">About us</div>
  <img class="hero-banner__image" src="/assets/images/img_7.png"/>
  <h1 class="hero-banner__title hero-banner__stroked-title">About us</h1>
</div>
<div class="content">
  <div class="about-section">
    <h1 class="about-us-header">We Make Your Drive Memorable</h1>
    <p class="about-us-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A magni vel ratione eius quasi aspernatur laudantium explicabo perspiciatis, dolorem consectetur commodi. Animi aliquam porro facilis, adipisci a veritatis iste quidem?</p>
  </div>
</div>  
-->