<div class="about-section">
   <h1 class="about-us-header">About Us Page</h1>
   <p class="about-us-header-2">We Make Your Drive Memorable.</p>
   <p class="about-us-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A magni vel ratione eius quasi aspernatur laudantium explicabo perspiciatis, dolorem consectetur commodi. Animi aliquam porro facilis, adipisci a veritatis iste quidem?</p>
 </div>
 
 <h2 class="our-team-header">Our Team</h2>
 <div class="row">
   <div class="column">
     <div class="card">
       <img class="user-photo" src="/assets/images/user-1.png" alt="Dmytro">
       <div class="container">
         <h2>Dmytro Muntian</h2>
         <p class="title">Designer and FrontEnd Developer</p>
         <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         <p>dmytromoon@gmail.com</p>
         <p><button class="button">Contact</button></p>
       </div>
     </div>
   </div>
   <div class="column">
     <div class="card">
       <img class="user-photo" src="/assets/images/user-2.png" alt="Andrew">
       <div class="container">
         <h2>Andrew Obertinskiy</h2>
         <p class="title">FullStack Developer</p>
         <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         <p>nepamiatau@gmail.com</p>
         <p><button class="button">Contact</button></p>
       </div>
     </div>
   </div>
 </div>  